<%= form_for([spot,comment], remote: true) do |f| %>
  <%= f.hidden_field :spot_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "コメント" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
