/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* line 6, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/osafune/workspace/babypo/app/assets/stylesheets/spots.scss */
body {
  text-align: center;
}
@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 44, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
body {
  font-family: 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo','sans-serif';
  font-size: 14px;
  background-color: #EFEFEF;
}

/* line 50, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
a {
  color: #4BA69C;
  text-decoration: none;
}
/* line 53, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 57, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
img {
  max-width: 100%;
}

/* line 61, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
h1 {
  font-size: 28px;
  font-size: 1.75rem;
  color: #4BA69C;
  font-weight: bold;
  margin: 20px 0 60px;
}

/* line 68, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header {
  width: 1160px;
  margin: 0 auto;
  padding: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
/* line 76, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .logo {
  width: 160px;
  margin-right: auto;
}
/* line 80, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 86, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav .nav-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 93, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav .nav-menu .nav-menu-list:not(:last-child) {
  margin-right: 20px;
}

/* line 101, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column {
  width: 1060px;
  margin: 40px auto;
}
/* line 105, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spots-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}
/* line 110, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spots-list-wrap .spots-list {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 30%;
  text-align: left;
  box-sizing: border-box;
  background-color: #FFF;
  border: solid 1px #CCC;
}
/* line 120, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spots-list-wrap .spot-name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 127, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form-wrap {
  padding: 30px;
  background-color: #FFF;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 136, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .list-time-wrap {
  display: flex;
}
/* line 139, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .list-select-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
/* line 145, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .list-select-wrap .form-list-title {
  text-align: center;
}
/* line 148, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .list-select-wrap .spot-form-list {
  padding: 10px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  text-align: center;
}
/* line 156, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form #spot_memo {
  width: 100%;
}
/* line 159, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .spot-form-list {
  margin-bottom: 15px;
  text-align: left;
}
/* line 163, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .spot-form-list .form-list-data #spot_name,
.main-column .spot-form .spot-form-list .form-list-data #spot_address {
  width: 100%;
}
/* line 167, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .spot-form-list-picture {
  text-align: center;
}
/* line 170, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .form-list-title {
  margin-bottom: 10px;
}
/* line 174, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.main-column .spot-form .form-list-data input,
.main-column .spot-form .form-list-data textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #E5E5E5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 187, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
footer {
  box-sizing: border-box;
  color: #FFF;
  margin-top: 80px;
  padding: 40px;
  background-color: #333;
  text-align: center;
  width: 100%;
}

/* line 197, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
input[type="text"]
input[type="submit"],
input[type="button"],
textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 207, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
input[type="text"]
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
textarea::-webkit-search-decoration {
  display: none;
}
/* line 210, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
input[type="text"]
input[type="submit"]::focus,
input[type="button"]::focus,
textarea::focus {
  outline-offset: -2px;
}

/* line 215, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
input[type="submit"]:hover {
  cursor: pointer;
}

/* line 219, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.btn-strong-m {
  font-size: 16px;
  font-weight: bold;
  background-color: #4BA69C;
  padding: 20px;
  margin: 20px 0;
  border-radius: 40px;
  width: 200px;
  color: #FFF;
}

/* line 230, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
.btn-strong-m:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
