/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* line 6, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 34, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /Users/osafune/workspace/babypo/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/osafune/workspace/babypo/app/assets/stylesheets/spots.scss */
body {
  text-align: center;
}
@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 44, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
body {
  font-family: 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo','sans-serif';
  border-top: solid 8px #4BA69C;
}

/* line 49, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
a {
  color: #4BA69C;
}
/* line 51, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
a:hover {
  text-decoration: none;
}

/* line 55, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
img {
  max-width: 100%;
}

/* line 59, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
h1 {
  font-size: 28px;
  font-size: 1.75rem;
  color: #4BA69C;
  font-weight: bold;
  margin: 20px 0 60px;
}

/* line 66, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header {
  width: 1160px;
  margin: 0 auto;
  padding: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
/* line 74, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .logo {
  width: 160px;
  margin-right: auto;
}
/* line 78, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 84, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav .nav-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 91, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
header .head-nav .nav-menu .nav-menu-list:not(:last-child) {
  margin-right: 20px;
}

/* line 98, /Users/osafune/workspace/babypo/app/assets/stylesheets/application.scss */
footer {
  box-sizing: border-box;
  color: #FFF;
  margin-top: 80px;
  padding: 40px;
  background-color: #333;
  text-align: center;
  width: 100%;
}
