/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main-color: #4BA69C;

$f-size-xs: 12px;
$f-size-s: 14px;
$f-size-m: 16px;
$f-size-l: 20px;
$f-size-xl: 28px;
$f-size-xxl: 34px;

@mixin font-size($size) {
  font-size:$size;
  font-size: ($size / 16px) * 1rem;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

@mixin box-sizing($type)
{
  -webkit-box-sizing:$type;
  -moz-box-sizing:$type;
  box-sizing:$type;
}

@mixin transition($value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}transition: $value;
     }
}

@mixin placeholderColor($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}

body{
  font-family: 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo','sans-serif';
  font-size: 14px;
  background-color: #F5F5F5;
  color: #333;
}

input[type="submit"],
input[type="button"],
input[type="search"]{
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &:-webkit-search-decoration {
      display: none;
    }
    &:focus {
      outline-offset: -2px;
    }
}

a{
  color: $main-color;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

 img{
   max-width: 100%;
 }

 h1{
   @include font-size($f-size-xl);
   color: $main-color;
   font-weight: bold;
   margin: 20px 0 60px;
 }

header{
  z-index: 2;
  color: #FFF;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  .header-in{
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    .logo{
      width: 10%;
      margin-right: auto;
      .logo-img{
        max-height:30px;
      }
    }
    .head-nav{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-menu{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-menu-list{
          a{
            color: #FFF;
          }
          &:not(:last-child){
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.top-column{
    height: 540px;
    position:relative;
  .top-column-in{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: image-url("top-image1.jpg") no-repeat 0 -240px;
    background-size: 100%;
    h1{
      color: #FFF;
      font-size: 38px;
      text-shadow: 0 2px 2px rgba(0,0,0,.5);
    }
    .main-search{
      position: absolute;
      top: 160px;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      form#spot_search {
        width: 40%;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.main-visual{
  width: 100%;
  height: 100%;
  &:before{
    content:"";
    background-color: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    display: block;
  }
  img{
    width: 100%;
  }
}
  .spots-search{
    margin: 40px 0 60px;
    .search-input{
      width: 100%;
      padding: 15px;
      font-size: $f-size-m;
      @include box-sizing(border-box);
      @include placeholderColor(#999);
    }
    form#spot_search {
      display: flex;
      height: 55px;
      width: 50%;
      margin: 0 auto;
      border: solid 1px #CCC;
      border-radius: 5px;
      background-color: #fff;
      @include box-sizing(border-box);
      .search-btn{
        width: 20%;
        background-color: #EEE;
        font-size: 16px;
        color: #666;
        @include transition(0.3s);
        &:hover{
          background-color: #DADADA;
          @include transition(0.3s);
        }
      }
    }
  }
.main-column{
  max-width: 1060px;
  margin: 64px auto 40px;
  .spots-list-wrap{
    display: flex;
    justify-content: start;
    flex-flow: wrap;
    margin-bottom: 40px;
    .spots-list{
      padding: 30px 25px;
      margin: 0 0 30px 0;
      border-radius: 5px;
      width: 32%;
      text-align: left;
      box-sizing: border-box;
      background-color: #FFF;
      border: solid 1px #CCC;
      &:not(:nth-child(3n)){
        margin-right: 2%;
      }
    }
    .material-icons{
      margin-right: 5px;
      color: #666;
    }
    .spot-info-address {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .spot-times{
      display: flex;
      align-items: center;
      .dash{
        margin: 0 5px;
      }
    }
    .spot-tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 15px 0 0;
      .spot-info-tag{
        padding: 8px;
        margin: 0 5px 5px 0;
        background-color: #4BA69C;
        color: #FFF;
        border-radius: 30px;
      }
    }
    .spot-info-name{
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .spot-form-wrap{
    padding: 30px;
    background-color: #FFF;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    @include box-sizing(border-box);
  }
  .spot-form{
    .list-time-wrap{
      display: flex;
    }
    .list-select-wrap{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 30px;
      .form-list-title{
        text-align: center;
      }
      .spot-form-list{
        padding: 10px;
        margin: 10px;
        @include box-sizing(border-box);
        width:120px;
        text-align: center;
      }
    }
    #spot_memo {
      width: 100%;
    }
    .spot-form-list{
      margin-bottom: 15px;
      text-align: left;
      .form-list-data{
        #spot_name,
        #spot_address{ width: 100%;}
      }
    }
    .spot-form-list-picture{
      text-align: center;
    }
    .form-list-title{
      margin-bottom: 10px;
    }
    .form-list-data{
      input,
      textarea{
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
        border: solid 1px #E5E5E5;
        border-radius: 3px;
        @include box-sizing(border-box);
      }
    }
  }
}

footer{
  box-sizing: border-box;
  color: #FFF;
  margin-top: 80px;
  padding: 40px;
  background-color: #333;
  text-align: center;
  width: 100%;
}

input[type="text"]
input[type="submit"],
input[type="button"],
textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  @include box-sizing(border-box);
    &::-webkit-search-decoration {
      display: none;
    }
    &:focus {
      outline-offset: -2px;
    }
}
input[type="submit"] {
    -webkit-appearance:none;
    vertical-align:middle;
}
input[type="submit"]:hover{
  cursor: pointer;
}
.btn-strong-m{
  font-size: 16px;
  font-weight: bold;
  background-color: $main-color;
  padding: 20px;
  margin: 20px 0;
  border-radius: 40px;
  width: 200px;
  color: #FFF;
  border: 0;
}
.btn-strong-m:hover{
  @include opacity(0.8);
  text-decoration: none;
}

#map{

height: 400px;
   margin-left:auto;    /* 左側マージンを自動的に空ける */
   margin-right:auto;   /* 右側マージンを自動的に空ける */
   text-align:left;     /* 中身を左側表示に戻す */
   width: 80%
 }

 .form-content{
   i.fa{
     margin-right: 3px;
   }
   .selected-file{
     margin: 0 0 10px;
   }
   .confirm-picture{
     margin-bottom: 15px;
   }
   .confirm-content{
     margin: 0 0 15px;
   }
 }
 .field{
   margin: 0 0 25px;
 }

 .form-content-main{
   margin-bottom: 10px;
   .form-content-in{
     padding: 40px;
     margin-bottom: 10px;
     background-color: #fff;
     border-radius: 10px;
     .actions{
       margin-top: 15px;
     }
     .field{
       input[type="email"],
       input[type="text"],
       input[type="password"]{
         width: 100%;
       }
       .field-label{
         font-size: 13px;
         margin-bottom: 15px;
         display: block;
         text-align: left;
       }
     }
     .field-remember_me{
       font-size: 13px;
       margin-bottom: 10px;
       label{
         font-weight: normal;
       }
     }
     .profile-img{
       max-width: 310px;
       display: block;
       margin: 20px auto;
     }
     .error_messages{
       margin-bottom: 30px;
       .alert{
         text-align: left;
         font-size: 13px;
       }
     }
   }
 }

.btn-strong-m:hover{
  @include opacity(0.8);
  text-decoration: none;
}

#map{
height: 400px;
   margin-left:auto;    /* 左側マージンを自動的に空ける */
   margin-right:auto;   /* 右側マージンを自動的に空ける */
   text-align:left;     /* 中身を左側表示に戻す */
   width: 80%
 }